<link rel="stylesheet" href="css/scenarioSelect.css">
<div class="col-md-6 mb-4">
  <div class="card btn-scenario">
    <div class="card-header">
      <button class="btn btn-link text-white help-button" onclick="toggleCard(this.parentElement.parentElement)">
        <span class="material-symbols-outlined">help</span>
      </button>
      <img src="<%= image %>" data-static="<%= image %>" data-gif="<%= gif %>" alt="<%= title %> image" class="card-image" />
      <h5 class="card-title"><%= title %></h5>
      <button class="btn btn-primary" onclick="event.stopPropagation(); selectScenario('<%= scenarioUrl %>')">Play Scenario</button>
    </div>
    <div class="card-body studycard">
      <p class="card-text"><%= description %></p>
    </div>
  </div>
</div>