<%- include('template/header') %>
<link rel="stylesheet" href="css/editProfile.css">
<div class="container edit-profile-container">
    <h1><center>Edit Profile</center></h1>
    <form id="edit-profile-form" method="POST" action="/profile/editProfile">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" value="<%= user.name %>">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" value="<%= user.username %>">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" value="<%= user.email %>">
        </div>
        <br>
        <center><button type="submit" class="btn btn-primary">Save Changes</button></center>
    </form>
</div>
<%- include('template/footer') %>
