<%- include('template/header') %>

<link rel="stylesheet" href="css/background.css">
<link rel="stylesheet" href="css/home.css">

<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <div style="display: flex; justify-content: center;">
                <div class="card bg-dark text-white" style="display: inline-block;">
                    <h4 class="text-center" style="margin: 10px;">
                        <%= user.username %>
                    </h4>
                </div>
            </div>
            <img id="user-avatar" src="<%= level == 1 ? '/img/avatar_lvl1.png' : '/img/avatar_lvl2.png' %>" alt="User Avatar" class="img-fluid">
        </div>
    </div>
    <% if (level == 1) { %>
        <h1>LEVEL 1</h1>
    <% } else { %>
        <h1>LEVEL 2</h1>
    <% } %>

    <div class="mt-4" id="hideable-section">
        <div class="row">
            <div class="col-4">
                <div class="mt-3">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"
                            style="height: <%= user.interpersonalAmount %>%;"
                            aria-valuenow="<%= user.interpersonalAmount %>" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <div class="progress-text">
                        <h6 class="btn btn-dark text-white">
                            <%= user.interpersonalAmount %>
                        </h6>
                        <h6 class="btn btn-dark text-white">Confidence</h6>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="mt-3">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="height: <%= user.knowledgeAmount %>%;"
                            aria-valuenow="<%= user.knowledgeAmount %>" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress-text ">
                        <h6 class="btn btn-dark text-white">
                            <%= user.knowledgeAmount %>
                        </h6>
                        <h6 class="btn btn-dark text-white">Knowledge</h6>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="mt-3">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="height: <%= user.habitAmount %>%;"
                            aria-valuenow="<%= user.habitAmount %>" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress-text">
                        <h6 class="btn btn-dark text-white">
                            <%= user.habitAmount %>
                        </h6>
                        <h6 class="btn btn-dark text-white">Discipline</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Page info pop-up Modal -->
 <div class="modal modal-sheet position-fixed p-4 py-md-5" tabindex="-1" role="dialog" id="modalFAQ">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-5">
          <h2 class="fw-bold mb-0">The Home Page</h2>
          <ul class="d-grid gap-4 my-5 list-unstyled small">
            <li class="d-flex gap-4">
                <div>
                  <h5 class="mb-0">How to Navigate BetterYou</h5>
                  <ul>
                    <li>By clicking the 3 lines in the top left you'll be able to navigate through all the features of the app. On any 
                        main feature page you'll see a '?' at the top that explains that page(similiar to this one).
                        <br>
                        Example icons:
                        <span class="material-symbols-outlined d-inline-block align-text-top" width="24" height="24">help</span>
                        <img src="/img/hamburg.png" alt="Sidebar" width="24" height="24" class="d-inline-block align-text-top" style="pointer-events: auto;">
                    </li>
                  </ul>
                </div>
              </li>
            <li class="d-flex gap-4">
              <div>
                <h5 class="mb-0">Robo, Your Character</h5>
                <ul>
                  <li>You're tasked with leveling up Robo by using various features of the app.</li>
                </ul>
              </div>
            </li>
            <li class="d-flex gap-4">
              <div>
                <h5 class="mb-0">The Progress/Level Up Bars</h5>
                <ul>
                  <li>Each bar will go up based off your points on the 'Profile' page.</li>
                  <li>Once 2/3 bars are filled you'll level up and you might notice a difference on your homescreen.<br> (hint look at Robo)</li>
                  
                </ul>
              </div>
            </li>
            <li class="d-flex gap-4">
                <div>
                  <h5 class="mb-0">What is BetterU about?</h5>
                  <ul>
                    <li> BetterU is a self-improvement app designed to help users enhance their discipline, confidence,
                         and knowledge. With features like a habit tracker, interpersonal skills trainer, hobby finder, and study section, 
                         BetterU guides you to become the best version of yourself. The app includes a text-based game for practicing social skills,
                         a chatroom for real-time interactions, and study/habit tools to optimize learning and productivity. </li>
                  </ul>
                </div>
              </li>
          </ul>
          <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">Great, thanks!</button>
        </div>
      </div>
    </div>
  </div><script>
    var faqItem = 1;
  </script>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const avatar = document.getElementById('user-avatar');
        const hideableSection = document.querySelector('.mt-4');
        const triggerWord = "betteru";
        let typedInput = "";
        document.addEventListener('keydown', (e) => {
            typedInput += e.key;
            if (typedInput.includes(triggerWord)) {
                avatar.src = '/img/wall-e-pixar.gif';
                hideableSection.style.display = 'none';
                typedInput = "";
            }
        });
        window.addEventListener('beforeunload', () => {
            typedInput = "";
        });
    });
</script>

<%- include('template/footer') %>