<%- include("template/header") %>

<link rel="stylesheet" href="css/background.css">
<link rel="stylesheet" href="css/studyLog.css">

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% 
        const today = new Date();
        const yesterday = new Date(today);
        yesterday.setDate(yesterday.getDate() - 1);
        const lastWeek = new Date(today);
        lastWeek.setDate(lastWeek.getDate() - 7);

        sessions.forEach(session => { 
            let sessionDate = new Date(session.date);
            let displayDate;
            if(sessionDate.toDateString() === today.toDateString()) {
                displayDate = "Today";
            } else if(sessionDate.toDateString() === yesterday.toDateString()) {
                displayDate = "Yesterday";
            } else if(sessionDate > lastWeek) {
                displayDate = "Earlier this Week";
            } else {
                displayDate = session.date.toLocaleString();
            }
        %>
            <div class="col mb-4">
                <div class="card h-100 border-dark d-flex flex-column">
                    <div class="card-header bg-dark text-white">
                        <h5 class="card-title mb-0"><%= displayDate %></h5> 
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-subtitle mb-2"><%= session.subject %></h5> 
                        <p class="card-text"><%= session.notes %></p>
                        <p class="card-text mt-auto"><small class="text-muted"><%= session.duration %> minutes</small></p>
                    </div>
                    <div class="card-footer bg-transparent border-dark text-center">
                        <p class="card-text"><small class="text-muted"><%= session.date.toLocaleString() %></small></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include("template/footer") %>
